*.o
*.a
bin/autosketches4
bin/clausefilter
bin/clausetester
bin/complex
bin/directproof
bin/dprofiles
bin/fof-prover9
bin/gen_trc_defs
bin/idfilter
bin/interpfilter
bin/interpformat
bin/isofilter
bin/isofilter0
bin/isofilter2
bin/ladr_to_tptp
bin/latfilter
bin/mace4
bin/miniscope
bin/mirror-flip
bin/multigoals2
bin/newauto
bin/newsax
bin/olfilter
bin/perm3
bin/prochints
bin/prooftrans
bin/prover9
bin/renamer
bin/rewriter
bin/sigtest
bin/test_clause_eval
bin/test_complex
bin/tptp_to_ladr
bin/unfast
bin/upper-covers
provers.src/autosketches4
provers.src/fof-prover9
provers.src/ladr_to_tptp
provers.src/multigoals2
provers.src/newauto
provers.src/newsax
provers.src/prochints
provers.src/prover9
provers.src/tptp_to_ladr
